
@{
    ViewBag.Title = "ChiTietBaoLuu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Đăng ký bảo lưu</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <div class="form-horizontal">
        <!--Menu-->
        <!--Menu-->
        <div class="margin text-right">
            <div class="btn-group"><button type="button" class="btn btn-block btn-danger" onclick="ThemMoi()">Thêm mới</button></div>
            <div class="btn-group"><button id="btnLuu" type="button" class="btn btn-block btn-danger" onclick="Luu()">Bảo Lưu</button></div>
        </div>
        <!--/Menu-->
        <!--/Menu-->
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <h5><label class="col-sm-12 control-label text-bold" style="text-align:left">THÔNG TIN LỚP ĐANG HỌC</label></h5>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-left:0px">Tên học sinh</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="text" readonly class="form-control" id="TenHocVien">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-block btn-danger" onclick="TimKiemHocSinh()">Tìm kiếm</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Mã HS</label>
                    <div class="col-sm-4">
                        <input type="text" id="MaHocVien" readonly class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">Mã LMS</label>
                    <div class="col-sm-4">
                        <input type="text" id="MaLMS" readonly class="form-control">
                    </div>
                </div>

                @*<div class="form-group">
                        <label class="col-sm-2 control-label" style="padding-left:0px">Tên học viên</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" readonly id="TenHocVien" placeholder="">
                        </div>
                    </div>*@
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-left:0px">Tên lớp học</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="TenLop" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Trung tâm</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="TrungTam" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding: 7px 0px!important">Chương trình</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" readonly id="ChuongTrinh" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Buổi 1</label>
                    <div class="col-sm-4">
                        <input type="text" id="Buoi1" readonly class="form-control">
                    </div>
                    <label class="col-sm-2 control-label">Buổi 2</label>
                    <div class="col-sm-4">
                        <input type="text" id="Buoi2" readonly class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding-left:0px">Số buổi học</label>
                    <div class="col-sm-4">
                        <input type="text" id="SoBuoiHoc" readonly class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" style="padding: 7px 0px!important">Ngày bắt đầu</label>
                    <div class="col-sm-4">
                        <input type="text" id="NgayBatDau" readonly class="form-control">
                    </div>
                    <label class="col-sm-2 control-label" style="padding: 7px 0px!important">Ngày học cuối</label>
                    <div class="col-sm-4">
                        <input type="text" id="NgayKetThuc" readonly class="form-control">
                    </div>
                    <input type="hidden" id="NgayKetThuc2" readonly class="form-control">
                </div>
                <div class="form-group" style="margin-bottom: 0px;">
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <h5><label class="col-sm-12 control-label text-bold" style="text-align:left">THÔNG TIN BẢO LƯU</label></h5>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Lý do<span style="color:red">*</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" id="LyDoBaoLuu" placeholder="Nội dung ..."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Hình thức<span style="color:red">*</span></label>
                    <div class="col-sm-4">
                        <div id="HinhThucBaoLuu" style="width:100%"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">buổi<span style="color:red">*</span></label>
                    <div class="col-sm-4">
                        <input type="text" id="SoBuoiBaoLuu" onkeypress="return isNumberKey(event)" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Từ ngày</label>
                    <div class="col-sm-4">
                        <div id="BaoLuuTuNgay" style="width:160px"></div>
                    </div>
                    <label class="col-sm-2 control-label">Đến ngày</label>
                    <div class="col-sm-4">
                        <input id="NgayKetThucBaoLuu" readonly style="width:150px" class="form-control">
                    </div>
                </div>
                <div class="form-group" id="btnDownLoad">
                    <label class="col-sm-2 control-label">Đính kèm</label>
                    <div class="col-sm-4">
                        <input type="file" id="coverFile" CssClass="barFul" name="coverFile" />
                    </div>
                </div>
                <div class="form-group" hidden id="DownLoadFile">
                    <label class="col-sm-2 control-label">Đính kèm</label>
                    <div class="col-sm-4">
                        <a style="line-height:32px;" href="http://210.211.125.28:8014/Content/upload/" id="LinkDownLoad" download>DownLoad</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>

<div class="box box-danger">
    <div class="box-header with-border">
        <h3 class="box-title">Danh sách học sinh bảo lưu</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->
    <form class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <div id="gridDanhSachHVBaoLuu"></div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">

        </div>
    </form>
</div>
<!-- /.box -->
<div class="modal fade" id="TimHocVien" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Danh sách học viên đã xếp lớp</h4>
            </div>
            <div class="modal-body">
                <div id="gridDanhSachHocSinhDaXepLop">
                </div>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script>
    var a_hosokhachhang, a_kehoach, tongbuoi = 0, buoi1 = 0, buoi2 = 0, DaBaoLuu = 0, a_thdubao, a_sanpham, tongbuoibaoluu = 0, hinhthucbaoluu, khuvuc;
    $(document).ready(function () {
        LoadHinhThucBaoLuu();
        $("#BaoLuuTuNgay").dxDateBox({
            value: new Date(),
            formatString: 'dd/MM/yyyy',
            hint: 'dd/MM/yyyy',
            onChange: function (data) {
                var dateBox = $("#BaoLuuTuNgay").dxDateBox("instance");
                var dateBoxValue = dateBox.option('text');
                $("#BaoLuuTuNgay").dxDateBox('instance').option('value', ConvertDate(dateBoxValue));
            },
            onValueChanged: function (data) {
                $.ajax({
                    url: '@Url.Action("LayNGayKetThucHoanChinh", "DangKyBaoLuu")',
                    data: { ngaybd: Globalize.format(data.value, 'yyyy-MM-dd'), SoBuoi: tongbuoi, Buoi1: buoi1, Buoi2: buoi2, KhuVuc: khuvuc },
                    type: 'GET',
                    contentType: 'application/json',
                    success: function (es) {
                        $('#NgayKetThucBaoLuu').val(es);
                    }
                })
            },
        }).dxDateBox("instance");
        $('#SoBuoiBaoLuu').keyup(function () {
            tongbuoi = Number($('#SoBuoiBaoLuu').val());
            var d = new Date($('#NgayKetThuc2').val().split("/").reverse().join("-"));
            var dd = d.getDate();
            var mm = d.getMonth() + 1;
            var yy = d.getFullYear();
            var newdate = mm + "/" + dd + "/" + yy;
            $.ajax({
                url: '@Url.Action("LayNGayKetThucHoanChinhDaTinhNgay", "DangKyBaoLuu")',
                data: { ngaybd: newdate, SoBuoi: tongbuoi, Buoi1: buoi1, Buoi2: buoi2, KhuVuc: khuvuc },
                type: 'GET',
                contentType: 'application/json',
                success: function (rs) {
                    $('#NgayKetThuc').val(rs);
                    $.ajax({
                        url: '@Url.Action("LayNGayKetThucHoanChinh", "DangKyBaoLuu")',
                        data: { ngaybd: Globalize.format($("#BaoLuuTuNgay").dxDateBox('instance').option('value'), 'yyyy-MM-dd'), SoBuoi: tongbuoi, Buoi1: buoi1, Buoi2: buoi2, KhuVuc: khuvuc },
                        type: 'GET',
                        contentType: 'application/json',
                        success: function (es) {
                            $('#NgayKetThucBaoLuu').val(es);
                        }
                    })
                }
            })
        })
        LoadGridSinhVienDaBaoLuu(0, 0);
    })
    function ConvertDate(obj) {
        var d = new Date(obj.split("/").reverse().join("-"));
        var dd = d.getDate();
        var mm = d.getMonth() + 1;
        var yy = d.getFullYear();
        return mm + "/" + dd + "/" + yy;
    }
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    function TimKiemHocSinh() {
        LoadDanhSachHocVien();
        $('#TimHocVien').modal('show');
    }
    function LoadDanhSachHocSinh(hocvien, lophoc) {
        $('#TimHocVien').modal('hide');
        $.ajax({
            url: '@Url.Action("LoadDanhSachHocSinhDaXepLop", "DangKyBaoLuu")',
            type: 'GET',
            data: { HocVien: hocvien, LopHoc: lophoc },
            contentType: 'application/json',
            success: function (rs) {
                if (rs.length > 0) {
                    $('#MaHocVien').val(rs[0].MaHocVien);
                    $('#MaLMS').val(rs[0].ma_lms);
                    $('#TenHocVien').val(rs[0].TenHocVien);
                    $('#TenLop').val(rs[0].TenLop);
                    $('#TrungTam').val(rs[0].TrungTam);
                    $('#ChuongTrinh').val(rs[0].ChuongTrinh);
                    $('#Buoi1').val(rs[0].Buoi1);
                    $('#Buoi2').val(rs[0].Buoi2);
                    $('#SoBuoiHoc').val(rs[0].SobuoiHoc);
                    $('#NgayBatDau').val(rs[0].NGAYDUKIENHOC);
                    $('#NgayKetThuc').val(rs[0].NGAYKETHUCHOC);
                    $('#NgayKetThuc2').val(rs[0].NGAYKETHUCHOC);
                    buoi1 = rs[0].ID_PHUONGTHUC;
                    buoi2 = rs[0].ID_CONGCU;
                    a_hosokhachhang = rs[0].A_HOSOKHACHHANG;
                    a_kehoach = rs[0].A_KEHOACH;
                    a_thdubao = rs[0].A_TH_DUBAO;
                    a_sanpham = rs[0].A_SANPHAM == null ? 0 : rs[0].A_SANPHAM;
                    khuvuc = rs[0].ID_KHUVUC;
                    SoLuongBuoiDaLuu(hocvien, lophoc);
                }
            }
        })
        LoadGridSinhVienDaBaoLuu(hocvien, lophoc)
    }
    function SoLuongBuoiDaLuu(a, b) {
        $.ajax({
            url: '@Url.Action("SoBuoiDaBaoLuu", "DangKyBaoLuu")',
            data: { MaKhachHang: a, MaKeHoach: b, A_TH_DUBAO: a_thdubao},
            type: 'GET',
            contentType: 'application/json',
            success: function (rs) {
                DaBaoLuu = rs;
            }
        });
    }
    function LoadHinhThucBaoLuu() {
        $.ajax({
            url: '@Url.Action("DM_LYDOBAOLUU", "DanhMuc")',
            type: 'GET',
            contentType: 'application/json',
            success: function (rs) {
                $("#HinhThucBaoLuu").dxSelectBox({
                    items: rs,
                    showPopupTitle: false,
                    displayExpr: "TENLYDONT",
                    valueExpr: "ID_LYDONT",
                    searchEnabled: true,
                    onValueChanged: function (e) {
                        hinhthucbaoluu = e.value;
                    },
                });
            }
        })
    }
    function ThemMoi() {
        location.href = "/DangKyBaoLuu/ChiTietBaoLuu";
    }
    function Luu() {
        tongbuoibaoluu = Number(DaBaoLuu) + Number($('#SoBuoiBaoLuu').val());
        var sobuoiduocbaoluutoida = Number($('#SoBuoiHoc').val()) / 24;
        var d = new Date($('#NgayKetThuc').val().split("/").reverse().join("-"));
        var dd = d.getDate();
        var mm = d.getMonth() + 1;
        var yy = d.getFullYear();
        var newdate = yy + "-" + mm + "-" + dd

        var modelngay = new Date($('#NgayKetThucBaoLuu').val().split("/").reverse().join("-"));
        var ngaykt = modelngay.getDate();
        var thangkt = modelngay.getMonth() + 1;
        var namkt = modelngay.getFullYear();
        var ngaymoi = namkt + "-" + thangkt + "-" + ngaykt
        var fileUpload = $("#coverFile").get(0);
        var files = fileUpload.files;
        if ($('#LyDoBaoLuu').val().trim().length == 0) {
            DevExpress.ui.notify('Bạn chưa nhập lý do!', 'warning', 2000);
            document.querySelector('.dx-toast-warning').style.transform = "translate(720px, 30px)";
            $("#iCapNhat").prop("disabled", false);
            return;
        }
        if (hinhthucbaoluu==null) {
            DevExpress.ui.notify('Bạn chưa chọn hình thức bảo lưu!', 'warning', 2000);
            document.querySelector('.dx-toast-warning').style.transform = "translate(720px, 30px)";
            $("#iCapNhat").prop("disabled", false);
            return;
        }
        if(Number($('#SoBuoiBaoLuu').val())==0) {
            DevExpress.ui.notify('Bạn chưa nhập số buổi bảo lưu!', 'warning', 2000);
            document.querySelector('.dx-toast-warning').style.transform = "translate(720px, 30px)";
            $("#iCapNhat").prop("disabled", false);
            return;
        }
        if (hinhthucbaoluu == 83)
        {
            sobuoiduocbaoluutoida = tongbuoibaoluu;
        }
        var formData = new FormData();
        if (files.length>0) {
            formData.append(files[0].name, files[0]);
        }
        formData.append("A_THDUBAO", a_thdubao);
        formData.append("J_HOSOKHACHHANG", a_hosokhachhang);
        formData.append("J_KEHOACH", a_kehoach);
        formData.append("NGAYLAM", Globalize.format($("#BaoLuuTuNgay").dxDateBox('instance').option('value'), 'yyyy-MM-dd'));
        formData.append("DENNGAY", ngaymoi);
        formData.append("SOBUOI", $('#SoBuoiHoc').val());
        formData.append("TONGSOBUOIDABAOLUU", Number(tongbuoibaoluu));
        formData.append("NGAYHOCCUOI", newdate);
        formData.append("ID_LYDO_NT", $("#HinhThucBaoLuu").dxSelectBox('instance').option('value'));
        formData.append("J_SANPHAM", a_sanpham);
        formData.append("SOBUOIBAOLUU", $('#SoBuoiBaoLuu').val());
        formData.append("GHICHUDUBAO", $('#LyDoBaoLuu').val());
        if (hinhthucbaoluu == 84) {
            if (tongbuoibaoluu <= sobuoiduocbaoluutoida) {
                var result = DevExpress.ui.dialog.confirm('Bạn có chắc chắn bảo lưu học viên này không?', "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("CapNhatBaoLuuKetQua", "DangKyBaoLuu")',
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            data: formData,
                            beforeSend: function () { window.parent.$('#loading').show(); },
                            success: function (data) {
                                window.parent.$("#loading").fadeOut("fast");
                                if (!isNaN(data)) {
                                    if (data == 1) {
                                        $("#btnLuu").prop("disabled", true);
                                        DevExpress.ui.notify('Cập nhật thành công', 'success', 2000);
                                        LoadGridSinhVienDaBaoLuu(a_hosokhachhang, a_kehoach);
                                    }
                                }
                                else {
                                    DevExpress.ui.notify(data, 'error', 2000);
                                }
                            }
                        })
                    }
                });
            }
            else {
                DevExpress.ui.notify('Số buổi bảo lưu tối đa là ' + (Number(sobuoiduocbaoluutoida) - Number(DaBaoLuu)) + ' – Bạn không được bảo lưu ', 'error', 2000);
            }
        }
        else {
            if (tongbuoibaoluu <= sobuoiduocbaoluutoida)
            {
                var result = DevExpress.ui.dialog.confirm('Bạn có chắc chắn bảo lưu học viên này không ?', "Confirm changes");
                result.done(function (dialogResult) {
                    if (dialogResult) {
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("CapNhatBaoLuuKetQua", "DangKyBaoLuu")',
                            dataType: 'json',
                            contentType: false,
                            processData: false,
                            data: formData,
                            beforeSend: function () { window.parent.$('#loading').show(); },
                            success: function (data) {
                                window.parent.$("#loading").fadeOut("fast");
                                if (!isNaN(data)) {
                                    if (data == 1) {
                                        $("#btnLuu").prop("disabled", true);
                                        DevExpress.ui.notify('Cập nhật thành công', 'success', 2000);
                                        LoadGridSinhVienDaBaoLuu(a_hosokhachhang, a_kehoach);
                                    }
                                }
                                else {
                                    DevExpress.ui.notify(data, 'error', 2000);
                                }
                            }
                        })
                    }
                });
            }
            else {
                DevExpress.ui.notify('Số buổi bảo lưu tối đa là ' + sobuoiduocbaoluutoida + ' – Bạn không được bảo lưu ', 'error', 2000);
            }
        }
    }

    function LoadDanhSachHocVien() {
        $.ajax({
            url: '@Url.Action("GetDanhSachHocSinhDaXepLop", "DangKyBaoLuu")',
            type: 'GET',
            data: { HocVien: $('#TenHocVien').val() },
            contentType: 'application/json',
            success: function (rs) {
                var dataGrid = $("#gridDanhSachHocSinhDaXepLop").dxDataGrid({
                    dataSource: rs,
                    allowColumnReordering: false,
                    allowColumnResizing: false,
                    columnAutoWidth: false,
                    columnFixing: {
                        enabled: true
                    },
                    paging: {
                        pageSize: 10
                    },
                    showColumnLines: true,
                    showRowLines: true,
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    columns: [
                        {
                            caption: "Đăng ký", alignment: 'center',
                            width: 100,
                            cellTemplate: function (container, options) {
                                var dt = options.data;
                                //$('<a href="javascript:" onclick="LoadDanhSachHocSinh(\'' + dt.A_HOSOKHACHHANG + '\')"  class="text-green"><b>...</b></a>').appendTo(container);
                                $('<a href="javascript:" onclick="LoadDanhSachHocSinh(' + dt.A_HOSOKHACHHANG + ',' + dt.A_KEHOACH + ')"  class="text-green"><b>...</b></a>').appendTo(container);
                            }
                        }, {
                              caption: "Mã học viên",
                              dataField: "MaHocVien",
                              width: 200,
                          }, {
                              caption: "Tên học viên",
                              dataField: "TenHocVien",
                              width: 200,
                          }, {
                              dataField: "TenLop",
                              caption: "Tên lớp",
                              width: 200,
                          },
                           {
                               dataField: "TrungTam",
                               caption: "Trung tâm",
                               width: 200,
                           },
                          {
                              dataField: "ChuongTrinh",
                              caption: "Chương trình",
                              width: 120,
                          }, {
                              dataField: "SobuoiHoc",
                              caption: "Số buổi học",
                              width: 200,
                          },
                          {
                              dataField: "DonGia",
                              caption: "Đơn giá",
                              width: 120,
                          },
                          {
                              caption: "Buổi 1",
                              dataField: "Buoi1",
                              width: 120,
                          },
                          {
                              caption: "Buổi 2",
                              dataField: "Buoi2",
                              width: 120,
                          },
                          {
                              caption: "Ngày BĐ học",
                              dataField: "NGAYDUKIENHOC",
                              width: 200,
                          },
                          {
                              caption: "Ngày KT học",
                              dataField: "NGAYKETHUCHOC",
                              width: 120,
                          },
                          {
                              caption: "Trạng thái học",
                              dataField: "TrangThaiHoc",
                              width: 120,
                          },
                    ],

                }).dxDataGrid('instance');
            },
            error: function (a, b, c) {
                DevExpress.ui.notify('Error ' + a.status + ': ' + a.statusText, 'error', 2000);
            }

        });
    }
    function XemHinhChiTiet(obj) {
        //self.location = "/DangKyBaoLuu/XemFile?tenfile=" + obj;
        window.open("/DangKyBaoLuu/XemFile?tenfile=" + obj);
    }
    function LoadGridSinhVienDaBaoLuu(hocvien, kehoach) {
        $.ajax({
            url: '@Url.Action("LoadDanhSachHocSinhDaBaoLuu", "DangKyBaoLuu")',
            type: 'GET',
            data: { HocVien: hocvien, LopHoc: kehoach },
            contentType: 'application/json',
            success: function (rs) {
                var dataGrid = $("#gridDanhSachHVBaoLuu").dxDataGrid({
                    dataSource: {
                        store: rs,
                        key: 'A_TH_DUBAO',
                    },
                    allowColumnReordering: false,
                    allowColumnResizing: false,
                    columnAutoWidth: false,
                    selection: {
                        mode: "multiple"
                    },
                    columnFixing: {
                        enabled: true
                    },
                    paging: {
                        pageSize: 10
                    },
                    showColumnLines: true,
                    showRowLines: true,
                    filterRow: {
                        visible: true,
                        applyFilter: "auto"
                    },
                    columns: [
                         //{
                         //    caption: "Xem", alignment: 'center',
                         //    dataField: "A_TH_DUBAO",
                         //    width: 100,
                         //    cellTemplate: function (container, options) {
                         //        var dt = options.data;
                         //        //$('<a href="javascript:" onclick="LoadDanhSachHocSinh(\'' + dt.A_HOSOKHACHHANG + '\')"  class="text-green"><b>...</b></a>').appendTo(container);
                         //        $('<a href="javascript:" onclick="XemChiTietLichSu(' + options.value + ')"  class="text-green"><b>...</b></a>').appendTo(container);
                         //    }
                         //},
                          {
                              dataField: "MAHOCVIEN",
                              caption: "Mã học viên",

                          }, {
                              caption: "Tên học viên",
                              dataField: "TENHOCVIEN",
                              width: 200,
                          }, {
                              caption: "Bảo lưu từ ngày",
                              dataField: "TUNGAY",
                              width: 150,
                          }, {
                              caption: "Bảo lưu đến ngày",
                              dataField: "DENNGAY",
                              width: 150,
                          }, {
                              dataField: "SOBUOIBAOLUU",
                              caption: "Số buổi bảo lưu",
                          }, {
                              dataField: "HINHTHUC",
                              caption: "Hình thức"
                          }, {
                              dataField: "GHICHU",
                              caption: "Lý do"
                          },
                           //{
                           //    dataField: "PATHFILE",
                           //    cellTemplate: function (container, options) {
                           //        var dt = options.data;
                           //        //$('<a href="javascript:" onclick="LoadDanhSachHocSinh(\'' + dt.A_HOSOKHACHHANG + '\')"  class="text-green"><b>...</b></a>').appendTo(container);
                           //        $('<a href="javascript:" onclick="XemHinhChiTiet(' + dt.A_TH_DUBAO + ')"  class="text-green"><b>Link</b></a>').appendTo(container);
                           //    },
                           //    caption: "File đính kèm"
                           //}
                          {
                              dataField: "PATHFILE",
                              cellTemplate: function (container, options) {
                                  $('<a>' + options.value + '</a>')
                                      .attr('href', "http://210.211.125.28:8014/Content/upload/" + options.value)
                                      .attr('target', '_blank')
                                      .appendTo(container);
                              },
                              caption: "File đính kèm"
                          }
                    ],
                    onSelectionChanged: function (selectedItems) {
                        var data = selectedItems.selectedRowsData[0];
                        if (data) {
                            XemChiTietLichSu(data.A_TH_DUBAO);
                        } else {

                        }
                    },
                }).dxDataGrid('instance');
            },
            error: function (a, b, c) {
                DevExpress.ui.notify('Error ' + a.status + ': ' + a.statusText, 'error', 2000);
            }

        });
    }
    function XemChiTietLichSu(obj) {
        $("#btnLuu").prop("disabled", true);

        $.ajax({
            url: '@Url.Action("LoadChiTietLichSuBaoLuu", "DangKyBaoLuu")',
            type: 'GET',
            data: { A_TH_DUBAO: obj},
            contentType: 'application/json',
            success: function (rs) {
                if (rs.length > 0) {
                    $("#DownLoadFile").show();
                    $("#btnDownLoad").hide();
                    $('#MaHocVien').val(rs[0].MAHOCVIEN);
                    $('#MaLMS').val(rs[0].MA_LMS);
                    $('#TenHocVien').val(rs[0].TENHOCVIEN);
                    $('#TenLop').val(rs[0].TENLOPHOC);
                    $('#TrungTam').val(rs[0].TENTRUNGTAM);
                    $('#ChuongTrinh').val(rs[0].CHUONGTRINH);
                    $('#Buoi1').val(rs[0].BUOI1);
                    $('#Buoi2').val(rs[0].BUOI2);
                    $('#SoBuoiHoc').val(rs[0].SOBUOIHOC);
                    $('#NgayBatDau').val(rs[0].NGAYBATDAU);
                    $('#NgayKetThuc').val(rs[0].NGAYKETHUC);
                    $('#NgayKetThucBaoLuu').val(rs[0].DENNGAY);
                    $('#LyDoBaoLuu').val(rs[0].GHICHU);
                    //$("#HinhThucBaoLuu").dxSelectBox("instance").selectBox.option('value', rs[0].ID_LYDO_NT);
                    $('#SoBuoiBaoLuu').val(rs[0].SOBUOIBAOLUU);
                    $("#HinhThucBaoLuu").dxSelectBox('instance').option('value', rs[0].ID_LYDO_NT);
                    document.getElementById("LinkDownLoad").href = "http://210.211.125.28:8014/Content/upload/" + rs[0].FILENAME;
                    //$("a[href='http://210.211.125.28:8014/Content/upload/']").attr("href", "http://210.211.125.28:8014/Content/upload/" + rs[0].FILENAME)
                    $("#BaoLuuTuNgay").dxDateBox('instance').option('value',rs[0].TUNGAY);
                }
            }
        })
    }
</script>

